body {
  background-color: LightGoldenRodYellow;
  font-size: 135%;
}
h2 {
  font-size: 200%;
  text-align: center;
  color: DarkOrange;
}
h3 {
  font-size: 120%;
  color: Orange;
}
img {
  border-radius: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  font-size: 130%;
  text-align: center;
  color: DarkOrange;
}
.main_list {
  color: DarkOrange;
  font-size: 140%;
}
